<app-header></app-header>
<div class="container">
	<h1>Mis textos</h1>
	<form [formGroup]="filtrarTextoForm">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Ingrese su búsqueda..."  (keyup)="keyPress($event)"
				formControlName="filtro">
			<button class="btn btn-outline-secondary" type="button" (click)="filtrar()" id="button-addon1">Buscar</button>
			<button class="btn btn-outline-danger" type="button" (click)="limpiar()" id="button-addon1">Limpiar</button>
			<button class="btn btn-success" type="button" (click)="nuevaPalabra()" id="button-addon1">Nuevo</button>
		</div>
	</form>
	<table class="table table-hover table-white ">
		<thead >
			<tr>
				<th scope="col">#</th>
				<th scope="col" (click)="ordenar('nombre')">Nombre Texto <i class="fa" [ngClass]="{'fa-chevron-down' : orderNombreDesc !== undefined && orderNombreDesc,'fa-chevron-up' : orderNombreDesc !== undefined && !orderNombreDesc }"></i> </th>
				<th scope="col">Fecha Modificacion</th>
				<th scope="col">Categoria</th>
				<th scope="col">Idiomas</th>

				<th scope="col">Acciones</th>
			</tr>

			<tr>
				<th scope="col"></th>
				<th scope="col"><input type="hidden" class="form-control"></th>
				<th scope="col">
					
					<input class="form-control" type="date" [(ngModel)]="today " (change)="selectDate()" [ngModelOptions]="{standalone: true}">
<!-- 					<input class="form-control" type="date"> -->
 				</th>
				<th scope="col"><select   class="form-control" name="my-select" [(ngModel)]="mySelect" (change)="selectChangeCategoria()" [ngModelOptions]="{standalone: true}">
					<option [value]="item.id" *ngFor="let item of categorias">
						{{item.nombre}}
					</option>
				</select></th>

				<th><select  name="my-select-idioma"  class="form-control" [(ngModel)]="mySelectIdioma" (change)="selectChangeIdioma()" [ngModelOptions]="{standalone: true}">
					<option [value]="item.id" *ngFor="let item of idiomas">
						{{item.nombre}}
					</option>
				</select>
			</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let t of textos">
				<th scope="row">{{t.id}}</th>
				<td>{{t.nombre}}</td>
				<td [ngClass]="{'table-primary' : t.id % 2 === 0}">{{t.fechaModificacion | date : 'dd/MM/yyyy'}}</td>
				<td>{{t.categoria!==null?t.categoria.nombre:''}}</td>
				<td>{{t.idioma!==null?t.idioma.nombre:''}}</td>
				<td><button type="button" class="btn btn-primary" (click)="ver(t.id)">Ver</button> -
				<button type="button" class="btn btn-danger" (click)="eliminar(t.id)">Eliminar</button></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
</div>

<app-footer></app-footer>
