<section class="hero">
    <header id="header">
      <a id="logo" href="#">Syndeo</a>
     <!--  <nav>
        <a id="menu-icon">&#8801;</a>
      </nav> -->
    </header>
    <header class="hero-header">
      <h1 class="hero-title">Trabajo Práctico de DAW 2021</h1>
    </header>
    <footer class="hero-footer">
      <button class="button button-primary"(click)="verTextos()" >Mis Textos</button>
      <button class="button" (click)="verIdiomas()">Idiomas</button>
      <button class="button button-primary"  (click)="verCategorias()">Categorias</button>
      <button class="button"  (click)="verLogIn()">Log-In</button>

    </footer>
  </section>
  <article>
    <h2>¿Qué es Syndeo?</h2>
    <p>Syndeo es una plataforma Web, que tiene como objetivo ser una herramienta a la hora de leer textos en otros idiomas.</p>
    <p>Syndeo está pensado para el sector autodidacta, que quiere empezar a leer artículos en algún idioma extranjero, pero sienten dificultades a la hora de la lectura, ya sea, porque no entienden algunas palabras, pierden mucho tiempo buscando las traducciones o haciendo indicaciones en los libros.</p>
    <p>Syndeo propone suplir todas estas necesidades ayudando al lector a recordar todas las palabras que leyó en un idioma extranjero.</p>
  </article>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>