<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="text-center">
    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal a">Login</h1>

        <input
          type="Username"
          id="inputUsername"
          class="form-control"
          placeholder="Username"
          required
          autofocus
        />

        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />

        <div class="a" role="toolbar">
          <div class="btn-group" role="group">
            <button class="w-100 btn btn-primary" type="submit">
              Login
            </button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-link">Register</button>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
