
  <div class="container">

    <!-- los corchetes  permiten BINDEAR
       ENTRE HTML Y EL COMPONENTE
    CORCHETES= desde el component envio info al HTML
    PARENTESIS=DESDE HTML AL COMPONENT
      -->
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="https://image.freepik.com/vector-gratis/bienvenidos-letras-modernas_136321-864.jpg" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
          <input type="text" formControlName="usuario" for="usuario" id="login" class="fadeIn second  form-control" [ngClass]="{'is-invalid':enviado && loginForm.controls.usuario.errors}" name="login" placeholder="Iniciar Sesión">
          <div *ngIf="enviado && loginForm.controls.usuario.errors" class="invalid-feedback">
            <div *ngIf="enviado && loginForm.controls.usuario.errors.required" >Debe ingresar su nombre de usuario </div>
            <div *ngIf="enviado && loginForm.controls.usuario.errors.minlength" >Debe tener mínimo: {{loginForm.controls.usuario.errors.minlength.requiredLength}} caracteres </div>

          </div>
          <input type="password" formControlName="password" for="password" id="password" name="login" class="fadeIn third form-control" [ngClass]="{'is-invalid':enviado && loginForm.controls.password.errors}" placeholder="Contraseña">
          <div *ngIf="enviado && loginForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="enviado && loginForm.controls.password.errors.required" >Debe ingresar su contraseña </div>
            <div *ngIf="enviado && loginForm.controls.password.errors.minlength" >Debe tener mínimo: {{loginForm.controls.password.errors.minlength.requiredLength}} caracteres </div>

          </div>
          
          <input type="submit" class="fadeIn fourth" value="Log In">
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Registrarse</a>
        </div>
    
      </div>
    </div>
  </form>
  </div>

<!-- 
<div class="container">

  <h2>Login</h2>
  <form>

    <div class="form-group">
      <label for="usuario">Usuario</label>
      <label type="text" class="form-control"></label>
    </div>

    <div class="form-group">
      <label for="usuario">Contraseña</label>
      <label type="text" class="form-control"></label>
    </div>

    <div class="form-group">
      <label for="usuario">Usuario</label>
      <label type="text" class="form-control"></label>
    </div>




  </form>
</div> -->


