<div class="container">

    <h4 class="mb-4 text-muted">{{titulo}}</h4>

    <div class="row">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="nombre">Título</label>
				<input type="text" formControlName="nombre" class="form-control"
					[ngClass]="{ 'is-invalid' : enviado && formulario.controls.nombre.errors }">


				<div *ngIf="enviado && formulario.controls.nombre.errors" class="invalid-feedback">
					<div *ngIf="formulario.controls.nombre.errors.required">Debe ingresar un título de al menos 4 caracteres</div>
				</div>
			</div>

			<div class="form-group">
				<label for="parrafo">Parrafo</label>
				<input type="text" formControlName="parrafo" class="form-control"
					[ngClass]="{ 'is-invalid' : enviado && formulario.controls.parrafo.errors }">


				<div *ngIf="enviado && formulario.controls.parrafo.errors" class="invalid-feedback">
					<div *ngIf="formulario.controls.parrafo.errors.required">Debe ingresar un párrafo de al menos 10 caracteres</div>
				</div>
			</div>


			<div class="form-group">

				<h4>Seleccione un idioma </h4>

				<select  name="my-select-idioma" [(ngModel)]="mySelectIdioma" (change)="selectChangeIdioma()" [ngModelOptions]="{standalone: true}">
					<option [value]="item.id" *ngFor="let item of idiomas">
						{{item.nombre}}
					</option>
				</select>
				<h4>Idioma seleccionado</h4>
				<div>
					Seleccionaste: {{nombreIdioma}}
				</div>




				<h4>Seleccione una Cateogria </h4>

				<select  name="my-select" [(ngModel)]="mySelect" (change)="selectChangeCategoria()" [ngModelOptions]="{standalone: true}">
					<option [value]="item.id" *ngFor="let item of categorias">
						{{item.nombre}}
					</option>
				</select>
				<h4>Categoria seleccionada</h4>
				<div>
					Seleccionaste: {{nombreCategoria}}
				</div>

				
				
				<button class="btn btn-success">
					Guardar
				</button>
			</div>
		</form>
    </div>
</div>

<app-footer></app-footer>
