<app-header></app-header>
<div class="container">
	<h1>Idiomas</h1>
	<form [formGroup]="filtrarIdiomaForm">
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Ingrese su búsqueda..."  (keyup)="keyPress($event)"
				formControlName="filtro">
			<button class="btn btn-outline-secondary" type="button" (click)="filtrar()" id="button-addon1">Buscar</button>
			<button class="btn btn-outline-danger" type="button" (click)="limpiar()" id="button-addon1">Limpiar</button>
			<button class="btn btn-success" type="button" (click)="nuevaPalabra()" id="button-addon1">Nuevo</button>
		</div>
	</form>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col" (click)="ordenar('nombre')">Nombre Idioma <i class="fa" [ngClass]="{'fa-chevron-down' : orderNombreDesc !== undefined && orderNombreDesc,'fa-chevron-up' : orderNombreDesc !== undefined && !orderNombreDesc }"></i> </th>
				<th scope="col">Acciones</th>
			</tr>

			
		</thead>
		<tbody>
			<tr *ngFor="let t of idiomas">
				<th scope="row">{{t.id}}</th>
				<td>{{t.nombre}}</td>
				<td><button type="button" class="btn btn-primary" (click)="ver(t.id)">Ver</button>  -
                    <button type="button" class="btn btn-danger" (click)="eliminar(t.id)">Eliminar</button></td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

</div>


<app-footer></app-footer>
